<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediDash - Anonymisation de données</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        h1 {
            color: #333;
        }

        img {
            max-width: 30%;
            height: auto;
            margin-bottom: 20px;
        }

        form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <img src="/static/logo.png" alt="MediDash Logo">
    <h1>Bienvenue dans MediDash</h1>
    <p>Le logiciel d'anonymisation de données.</p>
    <p>Merci d'uploader votre fichier CSV ci-dessous.</p>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Upload</button>
    </form>
    {% if anon_state == True %}
        {% if not toanon.empty %}
        <h2>Données du fichier CSV</h2>
        <form action="/process" method="post">
            <table border="1">
                <thead>
                    <tr>
                        {% for column in toanon.columns %}
                        <th>
                            {{ column }}
                            <select name="options[{{ loop.index }}]">
                                <option value="k-anonymity">k-anonymity</option>
                                <option value="pseudonymisation">Pseudonymisation</option>
                                <option value="differential_privacy">Differential Privacy</option>
                                <option value="delete">À Supprimer</option>
                                <option value="modify">À Modifier</option>
                            </select>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in toanon.iterrows() %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Valider</button>
        </form>
        {% endif %}
    {% endif %}
</body>
</html>
